body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.bmw {
    height: 512px;
    width: 512px;
}

.mercedes {
    height: 540px;
    width: 640px;
}

.audi {
    height: 640;
    width: 540;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #171038;
    font-family: Sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}