body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.article-one {
    height: 100px;
    width: 400px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #171038;
    font-family: Sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}